li {
    list-style: none;
}

a {
    text-decoration: none;
    padding-left: 200px;
}

nav {
    background-color: rgb(231, 231, 231);
    color: rgb(113, 114, 119);
    padding: 10px;
}

ul {
    display: flex;
    text-align: center;
}